entrypoints==0.4
extra-streamlit-components==0.1.56
folium==0.13.0
gitdb==4.0.9
GitPython==3.1.29
importlib-metadata==5.0.0
Jinja2==3.1.2
jsonschema==4.16.0
koboextractor==0.2.1
MarkupSafe==2.1.1
numpy==1.23.4
packaging==21.3
pandas==1.5.1
requests==2.28.1
streamlit==1.13.0
streamlit-aggrid==0.3.3
streamlit-authenticator==0.2.1
streamlit-folium==0.6.15

